<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="utf-8">
    <title>Orchi'D</title>
    <meta name="authors" content="Gabriel DA SILVA">
	<link href="/css/style.css" rel="stylesheet" type="text/css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Inconsolata:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/css/all.min.css">
</head>
<body>
    <div class="navbar">
        <nav>
            <ul>
                <li><img src="/img/logo.png" height="72" width="262"></li>
                <li><a href="/">Accueil</a></li>
                <li><a href="/premade">Nos Bouquets</a></li>
                <li><a href="/custom">Personnaliser</a></li>
                <li><a href="/profile">Mon Compte</a></li>
            </ul>
        </nav>
    </div>