<%- include('header') %>

    <div class="container">
        <h1>Bienvenue sur le site Orchi'D !</h1>
        <h2>Votre site n°1 pour l'achat de vos orchidées</h2>
        <br>
        <p>
            Ici, vous pouvez acheter vos orchidées préférées et même créer un bouquet personnalisé. Les bouquets sont réalisés par les plus grands experts en la matière diplômés d'un bac+5 en comptabilité (oui ils se sont réorientés)
            <br>
            Récoltées dans la ville de Bourg Palette, en symbiose avec des pokémons sauvages, nos orchidées, sont récoltées a la main, par des étudiants ayant eu une mauvaise note à leur DM de Programmation Web.
        </p>
        <br>
        <img src="/img/orchidee.jpg">
        <br>
        <br>
        <div class="container-block">
            <h3>C'est quoi une orchidée ?</h3>
            <p>
                Les Orchidées ou Orchidacées (Orchidaceae), forment une grande famille de plantes monocotylédones. C'est une des familles les plus diversifiées, comptant plus de 25 000 espèces, réparties en 850 genres.
                <br>
                Ce sont des plantes herbacées, de type divers, autotrophes ou mycohétérotrophes, à feuilles réduites, à écailles, ou développées, terrestres ou épiphytes, pérennes, rhizomateuses ou tubéreuses, des régions tempérées à tropicales. 
                La symbiose, qu'elle soit de type autotrophique, saprophytique, voire parasitique, se fait avec un champignon microscopique qui permet à la plante de pallier l'absence de toute réserve dans ses graines ainsi que l'absence de radicelles au niveau de ses racines. 
            </p>
        </div>

    </div>
<%- include('footer') %>